.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: BCSans,Noto Sans,Verdana,Arial,sans serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0.98 !important;
  }

.expand-steps-button {
    border-radius: 0.5rem; 
    float: right;
}

.step-title-column {
  text-align: left; 
  font-weight: bold;
  padding: 0;
}

.expand-step-icon {
  width: 2rem; 
  height: 2rem; 
  padding: 0;
}

.warning-message-row {
  border-radius: 0.5rem; 
  padding: 1rem 0rem 1rem 0rem;  
}

.warning-message-column {
  padding-left: 0; 
  padding-right: 2rem;
}

.form-download-button {
  border-radius: 0.5rem !important; 
  font-size: 14px !important; 
  font-weight: bold !important;
}

.online-form-button {
  border-radius: 0.5rem !important;
  font-size: 14px !important;
  font-weight: bold !important; 
  float: right !important;
}

.w-90 {
  width: 90%;
}

.w-110 {
  width: 110%;
}

.w-115 {
  width: 115%;
}

.w-125 {
  width: 125%;
}