apiVersion: v1
kind: Template
metadata:
  name: ${NAME}
  annotations:
    description: >-
      Keycloak OIDC IdP
objects:
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      name: ${NAME}
    spec:
      replicas: ${{REPLICAS}}
      revisionHistoryLimit: 10
      selector:
        deploymentconfig: ${NAME}
      strategy:
        type: Rolling
      template:
        metadata:
          labels:
            deploymentconfig: ${NAME}
        spec:
          containers:
            - image: ${IMAGE_REGISTRY}/${BUILD_NAMESPACE}/${IMAGE_STREAM_TAG}
              imagePullPolicy: Always
              name: ${NAME}
              resources:
                requests:
                  cpu: ${CPU_REQUEST}
                  memory: ${MEMORY_REQUEST}
                limits:
                  cpu: ${CPU_LIMIT}
                  memory: ${MEMORY_LIMIT}
              ports:
                - containerPort: 8080
              readinessProbe:
                httpGet:
                  path: /auth/realms/master
                  port: 8080
                periodSeconds: 30
                initialDelaySeconds: 60
              livenessProbe:
                httpGet:
                  path: /auth/realms/master
                  port: 8080
                periodSeconds: 30
                initialDelaySeconds: 120
              env:
                - name: DB_VENDOR
                  value: POSTGRES
                - name: DB_ADDR
                  value: "${DB_SERVICE}"
                - name: DB_USER
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_USERNAME_KEY}
                      name: ${DB_SECRET_NAME}
                - name: DB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: ${DB_PASSWORD_KEY}
                      name: ${DB_SECRET_NAME}
                - name: DB_DATABASE
                  value: ${NAME}
                - name: PROXY_ADDRESS_FORWARDING
                  value: "true"
                - name: KEYCLOAK_REALM
                  value: ${KEYCLOAK_REALM}
                - name: KEYCLOAK_CLIENT
                  value: ${KEYCLOAK_CLIENT}
                - name: KEYCLOAK_PUBLIC_CLIENT
                  value: ${KEYCLOAK_PUBLIC_CLIENT}
                - name: HOST_NAME
                  value: ${HOST_NAME}
                - name: KEYCLOAK_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: admin-password
                      name: "${NAME}-creds"
                - name: KEYCLOAK_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: client-secret
                      name: "${NAME}-creds"
  - apiVersion: v1
    kind: Service
    metadata:
      name: ${NAME}
    spec:
      ports:
      - name: http
        port: 80
        protocol: TCP
        targetPort: 8080
      selector:
        deploymentconfig: ${NAME}
      type: ClusterIP
parameters:
  - name: NAME
    value: keycloak
  - name: REPLICAS
    value: "1"
  - name: CPU_REQUEST
    value: "0.25"
  - name: CPU_LIMIT
    value: "1"
  - name: MEMORY_LIMIT
    value: "768M"
  - name: MEMORY_REQUEST
    value: "768M"
  - name: DB_SERVICE
    value: patroni-master
  - name: DB_SECRET_NAME
    value: patroni-creds
  - name: DB_USERNAME_KEY
    value: superuser-username
  - name: DB_PASSWORD_KEY
    value: superuser-password
  - name: KEYCLOAK_REALM
    value: court
  - name: KEYCLOAK_CLIENT
    value: court-client
  - name: KEYCLOAK_PUBLIC_CLIENT
    value: court-fe
  - name: BUILD_NAMESPACE
    required: true
  - name: IMAGE_STREAM_TAG
    required: true
  - name: HOST_NAME
    required: true
  - name: IMAGE_REGISTRY
    value: image-registry.openshift-image-registry.svc:5000
