@import './normalize.css';

#root {
  height: 100vh;
  display: grid;
  grid-template:
    "header" 70px
    "subheader" 48px
    "main" 1fr
    "footer" 40px
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'BCSans', 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.mr-2 {
  margin-right: 0.5rem;
}

.flat, p.flat {
  margin: 0;
}

.linkSpan {
  text-decoration: underline;
  color: #1A5A96;
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

.rowItem, .MuiGrid-item.rowItem {
  margin-bottom: 1rem;
}

.content {
  overflow-y: scroll;
  overflow-x: auto;
}

/* Login */

.login-container,
.signup-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Date Picker */

 .rangeParent > div {
  width: 320px;
  margin: auto;
}

.nice-dates-navigation {
  color: #103A72;
  font-weight: bold;
  font-size: 24px;
}

.nice-dates-navigation_previous:before, .nice-dates-navigation_next:before {
  border-right: 2px solid #103A72;
  border-top: 2px solid #103A72;
}

.nice-dates-day:before {
  background-color: #FCBA19;
}

.nice-dates-day:before, .nice-dates-day:after {
  border-radius: 5px;
  width: 80%;
  height: 80%;
  margin: auto;
}

.nice-dates-day:not(.-disabled):hover:after {
  opacity: 0.1;
}

.nice-dates-day.-selected:not(:hover) *, .nice-dates-day.-selected.-disabled * {
  color: inherit;
}

.MORNING, .AFTERNOON, .WHOLE_DAY {
  border: solid 1px #313132;
  border-radius: 4px;
}

.WHOLE_DAY {
  background-color: #FCBA19;
}

.AFTERNOON {
  background: linear-gradient(0deg, #FCBA19 50%, #FFFFFF 50%);
}

.MORNING {
  background: linear-gradient(0deg, #FFFFFF 50%, #FCBA19 50%);
}

/* SPANs */

span.deleteSpan {
  color: #FF8686;
  margin-left: 1rem;
}

span.deleteSpan.confirm {
  text-decoration: underline;
}

span.errorSpan {
  color: #FF8686;
  margin-top: 4px;
}

.commentList span {
  display: block;
}

span.tag {
  border: solid 1px black;
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}

span.tag.green {
  color: #2E8540;
  border-color: #2E8540;
}

.intSearchButton {
  display: flex;
  align-items: center;
}

span.tag.intSearchTag {
  max-height: 16px;
}

/* TABLE */

td.MuiTableCell-root {
  border: none;
}

td.MuiTableCell-root, th.MuiTableCell-root {
  padding: 12px 8px;
}

td.MuiTableCell-root:first-child, th.MuiTableCell-root:first-child {
  padding-left: 12px;
}

td.MuiTableCell-root:last-child, th.MuiTableCell-root:last-child {
  padding-right: 12px;
}

tr.MuiTableRow-root:empty {
  height: 0!important;
}

svg.cellAlertIcon {
  font-size: 1.15rem;
  color: #1A5A96;
  margin-left: 4px;
  margin-bottom: -2px;
  cursor: pointer;
}
