@import './normalize.css';

#root {
  height: 100vh;
  display: grid;
  grid-template:
    "header" 70px
    "subheader" 48px
    "main" 1fr
    "footer" 40px
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'BCSans', 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right {
  float: right;
}

.linkSpan {
  text-decoration: underline;
  color: #1A5A96;
  font-weight: bold;
}

.pointer:hover {
  cursor: pointer;
}

.rowItem, .MuiGrid-item.rowItem {
  margin-bottom: 1rem;
}

.content {
  overflow: scroll;
}

.login-container,
.signup-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: main;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.MORNING, .AFTERNOON, .WHOLE_DAY {
  border: solid 1px #313132;
  border-radius: 4px;
}

.WHOLE_DAY {
  background-color: #FCBA19;
}

.AFTERNOON {
  background: linear-gradient(0deg, #FCBA19 50%, #FFFFFF 50%);
}

.MORNING {
  background: linear-gradient(0deg, #FFFFFF 50%, #FCBA19 50%);
}
