<app-nav-bar></app-nav-bar>
<!-- Current route  -->
<!-- NOTE: remove conditional ngIf to preserve search result when closing a request form -->
<!-- The conditional ngIf is added to improve scrolling in the request modal -->
<router-outlet *ngIf="!interpreterRequest"></router-outlet>
<!-- Request form modal -->
<app-interpreter-request *ngIf="interpreterRequest" [request]="interpreterRequest"></app-interpreter-request>
<!-- Add Interpreter modal -->
<app-interpreter *ngIf="adminAction"></app-interpreter>
<!-- Toast -->
<app-toast *ngIf="toastMessage" [model]="toastMessage"></app-toast>