<!-- Header -->
<div class="container-fluid page-title-row">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title center animate__animated animate__fadeIn">
          Admin
        </h1>
      </div>
    </div>
  </div>
</div> <!-- // Header -->

<div class="container content">
  <div class="row">
    <div class="col-12">
      <button mat-raised-button class="add-interpreter-btn" color="primary" (click)="addInterpreter()">Add
        Interpreter</button>
    </div>
  </div>
</div>
