html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-title {
  color: #003365;
  padding-left: 16px;
  padding-top: 16px;
  font-size: 24px !important;
  font-weight: bold !important;
  letter-spacing: 0;
  line-height: 37.95px !important;
}

.page-title-row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #F2F5F7;
}

/* Remove bottom border line in tab and navbar */
.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: 0;
}

/* Style tab bar */
.mat-tab-label, .mat-tab-link {
  color: white !important;
  height: 52px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  font-weight: normal !important;
}

.mat-ink-bar {
  background-color: #FCBA19 !important;
}

.mat-tab-label.mat-tab-label-active {
  background-color: #597DAA;
}

.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  opacity: 1;
}

.mat-elevation-z4 {
  box-shadow: none !important;
}

/* // Style tab bar */
/* Style buttons */
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #003365;
}

/* Style fields border */
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #979797 !important;
  opacity: 1 !important;
}

/* Style dropdown selected item */
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #003365;
}

/* style fields */
/* .mat-form-field-appearance-outline .mat-form-field-infix {
  height: 42px;
  padding: 0;
} */

.custom-modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.3s;
}