.mat-form-field {
  width: 100%;
}

h4 {
  margin-bottom: 0;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.interpreter-request-modal-fields-container {
  padding: 32px;
}

.interpreter-request-modal-container {
  box-sizing: border-box;
  height: 90%;
  width: 90%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 #DFECFF;
  animation: bounceInUp;
  animation-duration: 0.5s;
  border-radius: 10px;
  overflow: scroll;
}

.request-form-fields {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .cancel-btn {
    width: 226px;
    height: 50px;
  }
  
  .save-btn {
    width: 226px;
    height: 50px;
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .cancel-btn {
    width: 180px;
    height: 42px;
  }
  
  .save-btn {
    width: 180px;
    height: 42px;
    float: right;
  }
}

@media screen and (max-width: 540px) {
  .cancel-btn {
    width: 95%;
    height: 42px;
  }
  
  .save-btn {
    width: 95%;
    height: 42px;
    float: right;
  }
}

.custom-modal {
  padding-top: 5%;
}

.date-element-container {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #979797;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.date-element-row {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .date-element-row {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media screen and (min-width: 540px) {
  .date-element-container {
    height: 46px;
  }
  .date-element-row {
    height: 46px;
  }
}

@media screen and (max-width: 540px) {
  .date-element-container {
    height: 76px;
  }
  .date-element-row {
    height: 76px;
  }
}

@media screen and (min-width: 768px) {
  #federal {
    position: absolute;
    bottom: 0;
    margin-bottom: 32px;
  }
}

/*  Nav */
.close {
  float: right;
}

.divider {
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  width: 100%;
  border: 1px solid #EEEEEE;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: saturate(170%) blur(14px);
  padding-bottom: 0 !important;
  padding-top: 32px;
}

:not(html, .nav-bar) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.nav-bar:after {
  background-color: rgba(21, 74, 136, 0.2);
}

.request-header {
  color: #1A5A96;
  font-weight: bold;
  letter-spacing: 0;
}

.request-interpreter-name {
  color: #4A4A4A;
  font-weight: bold;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .request-interpreter-name {
    font-size: 28px;
    line-height: 32.2px;
  }

  .request-header {
    font-size: 33px;
    line-height: 37.95px;
  }
}
@media screen and (max-width: 768px) {
  .request-interpreter-name {
    font-size: 23px;
    line-height: 27px;
  }

  .request-header {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 540px) {
  .request-interpreter-name {
    font-size: 18px;
    line-height: 22px;
  }

  .request-header {
    font-size: 23px;
    line-height: 27px;
  }
}
/*  // Nav */
