<!-- Interpreter detail modal -->
<div class="custom-modal" *ngIf="request" role="dialog">

  <div class="interpreter-request-modal-container container">
    <nav class="navbar nav-bar container">
      <div class="col-10">
        <h1 class="request-header">Court Interpreter Request</h1>
      </div>
      <div class="col-2">
        <button type="button" class="close" (click)="closeRequest()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-10">
        <h2 class="request-interpreter-name">{{ request.interpreter.name }}</h2>
      </div>
      <div class="divider"></div>
    </nav>
    <div class="interpreter-request-modal-fields-container">
      <div class="row">
        <!-- Status -->
        <div class="col-md-6 col-12">
          <h4 class="field-header">Status</h4>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> <!-- //Status -->
      <div class="row">
        <!-- Date -->
        <div class="col-md-8 col-lg-6 col-12">
          <h4 class="field-header">Date</h4>
          <div class="date-element-container container">
            <div class="row date-element-row">
              <div class="col-6">
                <div class="row">
                  <div class="col-2">
                    <span class="material-icons">
                      calendar_today
                    </span>
                  </div>
                  <div class="col-10">
                    <div class="date-val">{{request.date| date:'EEE, MMM d'}} </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-2">
                    <span class="material-icons">
                      access_time
                    </span>
                  </div>
                  <div class="col-10">
                    <div class="date-bottom">{{request.date | date:'shortTime'}} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- // Date -->
      <div class="row request-form-fields">
        <!-- Form -->
        <div class="col-md-6 col-12">
          <h4 class="field-header">Court Room</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Registry Location</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Court File Number</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Interpreter for</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Case Name</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Requested by</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Language</h4>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option *ngFor="let language of languages" [value]="language.name">
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4>Federal</h4>
          <mat-radio-group id="federal" aria-label="federal">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Reason</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Federal Prosecutor Name</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Comments</h4>
          <mat-form-field appearance="outline">
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div> <!-- // Form -->
      <div class="row">
        <!-- Actions -->
        <div class="col-6">
          <button mat-raised-button class="cancel-btn" (click)="closeRequest()">Cancel</button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="primary" class="save-btn">Save</button>
        </div>
      </div> <!-- // Actions -->
    </div>
  </div>
</div>
<!-- // Interpreter detail modal -->
