.direnv/**
.env
.env.example
.git*
README.md
README.rst
LICENSE
logo.png
postman_tests
__pycache__
tests
devops
.tox
.pytest_cache
tox.ini
Dockerfile
.idea/**
.dockerignore
docker-compose.yml
venv
.idea
.vault-pass.txt
.vscode
celerybeat-schedule
