<div class="container-fluid page-title-row">
  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title center animate__animated animate__fadeIn">
          Search Interpreters
        </h1>
      </div>
    </div>
  </div>
</div> <!-- // Header -->

<div class="container">
  <div class="row search-criteria">
    <!-- Search Criteria -->
    <div class="col-sm-12 col-md-6 col-lg-3 col-12">
      <!-- Language -->
      <h4 class="field-header">Language</h4>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Language</mat-label> -->
        <mat-select>
          <mat-option *ngFor="let language of languages" [value]="language.name">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> <!-- // Language -->

    <div class="col-sm-12 col-md-6 col-lg-3 col-12">
      <!-- level -->
      <h4>Level</h4>
      <mat-radio-group id="level" aria-label="Level">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
      </mat-radio-group>
    </div> <!-- // level -->

    <div class="col-sm-12 col-lg-6 col-12">
      <!-- Court Location -->
      <h4>Court Location</h4>
      <mat-form-field appearance="outline">
        <!-- <mat-label>Court Location</mat-label> -->
        <mat-select>
          <mat-option *ngFor="let courtLocation of courtLocations" [value]="courtLocation.name">
            {{courtLocation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> <!-- // Court Location -->

    <div class="col-sm-6 col-12">
      <!-- Date -->
      <h4>Date</h4>
      <mat-form-field appearance="outline">
        <input matInput readonly [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div> <!-- // Date -->
    <div class="col-sm-12 col-12">
      <button mat-raised-button color="primary">Search</button>
    </div>
  </div> <!-- // Search Criteria -->

  <div class="row divider"></div>

  <div class="row">
    <!-- Search Results -->
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z0">
        <ng-container matColumnDef="{{column.key}}" *ngFor="let column of tableDef">
          <th mat-header-cell *matHeaderCellDef> {{column.header}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="interpreter-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 col-12">
                    last booked: date
                  </div>
                  <div class="col-md-6 col-12">
                    <button mat-raised-button color="primary" (click)="showRequestForm(element)">Book</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="interpreter-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="interpreter-detail-row"></tr>
      </table>
    </div> <!-- // Search Results -->
  </div>
</div>

<!-- Interpreter detail modal -->
<div class="custom-modal" *ngIf="creatingRequest" role="dialog">

  <div class="interpreter-request-modal-container container">
    <nav class="navbar nav-bar container">
      <div class="col-10">
        <h1 class="request-header">Court Interpreter Request</h1>
      </div>
      <div class="col-2">
        <button type="button" class="close" (click)="closeRequest()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-10">
        <h2 class="request-interpreter-name">{{ requestedInterpreter.name }}</h2>
      </div>
    </nav>
    <div class="interpreter-request-modal-fields-container">
      <div class="row">
        <!-- Status -->
        <div class="col-md-6 col-12">
          <h4 class="field-header">Status</h4>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> <!-- //Status -->
      <div class="row">
        <!-- Date -->
        <div class="col-md-8 col-lg-6 col-12">
          <h4 class="field-header">Date</h4>
          <div class="date-element-container container">
            <div class="row date-element-row">
              <div class="col-1">
                <span class="material-icons">
                  calendar_today
                </span>
              </div>
              <div class="col-5">
                <div class="date-val">{{selectedDate| date:'EEE, MMM d'}} </div>
              </div>
              <div class="col-1">
                <span class="material-icons">
                  access_time
                </span>
              </div>
              <div class="col-5">
                <div class="date-bottom">{{selectedDate | date:'shortTime'}} </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- // Date -->
      <div class="row request-form-fields">
        <!-- Form -->
        <div class="col-md-6 col-12">
          <h4 class="field-header">Court Room</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Registry Location</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Court File Number</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Interpreter for</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Case Name</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Requested by</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Language</h4>
          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option *ngFor="let language of languages" [value]="language.name">
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <!-- level -->
          <h4>Federal</h4>
          <mat-radio-group id="federal" aria-label="federal">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Reason</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Federal Prosecutor Name</h4>
          <mat-form-field appearance="outline"><input matInput>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <h4 class="field-header">Comments</h4>
          <mat-form-field appearance="outline">
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div> <!-- // Form -->
      <div class="row">
        <!-- Actions -->
        <div class="col-6">
          <button mat-raised-button class="cancel-btn">Cancel</button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="primary" class="save-btn">Save</button>
        </div>
      </div> <!-- // Actions -->
    </div>
  </div>
</div>
<!-- // Interpreter detail modal -->
