.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.search-criteria {
  margin-top: 15px;
  padding-top: 8px;
  padding-left: 16px;
}

.mat-form-field {
  width: 100%;
}

.interpreters-container {
  padding: 16px;
}

h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  #level {
    position: absolute;
    bottom: 0;
    margin-bottom: 32px;
  }
}

.divider {
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  width: 100%;
  border: 1px solid #EEEEEE;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  width: 226px;
  height: 50px;
}

.interpreter-request-modal-fields-container {
  padding: 32px;
}

.interpreter-request-modal-container {
  box-sizing: border-box;
  height: 90%;
  width: 90%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 #DFECFF;
  animation: bounceInUp;
  animation-duration: 0.5s;
  overflow: scroll;
}

.request-header {
  color: #1A5A96;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37.95px;
}

.request-interpreter-name {
  color: #4A4A4A;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32.2px;
}

.request-form-fields {
  margin-top: 32px;
}

.cancel-btn {
  width: 226px;
  height: 50px;
}

.save-btn {
  width: 226px;
  height: 50px;
  float: right;
}

.custom-modal {
  padding-top: 5%;
}

.close {
  float: right;
}

/* Table */
table {
  width: 100%;
}

tr.interpreter-detail-row {
  height: 0;
}

tr.interpreter-element-row:not(.interpreter-expanded-row):hover {
  background: whitesmoke;
}

tr.interpreter-element-row:not(.interpreter-expanded-row):active {
  background: #efefef;
}

.interpreter-element-row td {
  border-bottom-width: 0;
}

.interpreter-element-detail {
  overflow: hidden;
  display: flex;
}
/*
.interpreter-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
}

.interpreter-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.interpreter-element-description {
  padding: 16px;
}

.interpreter-element-description-attribution {
  opacity: 0.5;
} */


 table {
  border-collapse: collapse;
}

/* .parent-cell {
  border: 1px solid #DFECFF;
  border-radius: 8px;
} */

th {
  /* row border */
  border-bottom: 1px solid #DFECFF;
  border-radius: 8px;
}

td.mat-cell {
  /* row padding */
  padding: 8px 0;
  border: none;
}

tr.mat-row.interpreter-element-row {
  /* row border */
  border: 1px solid #DFECFF;
  border-radius: 8px;
  height: 71px;
}


.date-element-container {
  box-sizing: border-box;
  height: 46px;
  width: 100%;
  border: 2px solid #979797;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.date-element-row {
  height: 46px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .date-element-row {
    padding-right: 8px;
    padding-left: 8px;
  }
}


.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: saturate(180%) blur(8px);
}

:not(html, .nav-bar) {
  -webkit-transform: translate3d(0, 0, 0); 
  transform: translate3d(0, 0, 0) 
}

.nav-bar:after {
  background-color: rgba(21, 74, 136, 0.2);
}