name: End-to-end tests
on: [push]
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Build containers
        run: docker-compose -f docker-compose.test.yml build

      - name: Start app containers
        run: docker-compose -f docker-compose.test.yml up -d client api postgres keycloak

      - name: Wait for Keycloak
        working-directory: "./.docker"
        run: bash ./wait-for.sh http://keycloak.local.freshworks.club:8080/auth/realms/court/

      - name: Cypress
        uses: cypress-io/github-action@v2
        with:
          wait-on: http://localhost:5000
          working-directory: e2e
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Print Dashboard URL
        run: |
          echo Cypress finished with: ${{ steps.Cypress.outcome }}
          echo See results at ${{ steps.Cypress.outputs.dashboardUrl }}
